.postBlock{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .post {
        width: 100%;
        height: 293px;
        .postInfoContainer {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #262626, $alpha: 0.4);
    
            .postInfo {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
    
                .postData {
                    color: #fff;
                    font-weight: 600;
                }
            }
        }
        .postImageContainer{
            width: 100%;
            .postImage {
                width: 100%;
                max-width: 100%;
                height: 293px;
                object-fit: cover;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    
    .postData:first-child {
        margin-right: 30px;
    }
    
    .post:hover .postInfoContainer {
        display: block;
    }
}
