.profileContainer {
    background-color: #FAFAFA;
    padding: 30px 20px 0;
    width: calc(100% - 40px);
    box-sizing: content-box;
    flex-grow: 1;
    margin: 77px auto 30px;
    max-width: 935px;
    width: 100%;
}

.profileInfoContainer {
    margin-bottom: 88px;
}