.navbarListContainer {
    border-top: 1px solid rgba(var(--b38, 219, 219, 219), 1);

    .navbarList {
        list-style-type: none;
        text-align: center;

        .navbarItem {
            text-transform: uppercase;
            display: inline-block;

            .navbarLink {
                padding: 16px;
                text-decoration: none;
                color: #8e8e8e;
            }

            .active {
                border-top: 1px solid #262626;
                color: #262626;
            }
        }

        .navbarItem:first-child {
            margin-right: 60px
        }
    }
}


