.postBackground {
    background-color: #F7F7F7;
    border-right: 1px solid #efefef;

    .postContent {
        max-width:100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}