.subscribeButtonContainer {
    font-size: 14px;
    display: inline-block;
    margin-left: 20px;

    .subscribeButton {
        background-color: transparent;
        border: 1px solid #dbdbdb;
        outline: none;
        background-color: #0095f6;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 600;
        padding: 6px 24px;
        text-align: center;
    }

    .subscribeButton:active {
        opacity:0.6
    }
}