.post {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-top: 77px;
    margin-bottom: 60px;
    margin-left: 20%;
    margin-right: 20%;
}

.postUser {
    align-items: center;
    display: flex;
    padding: 15px;
    .postUserNickname {
        font-family: 'Courier New', Courier, monospace, sans-serif;
    }
}

.postUserAvatar {
    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}

.postPicBg {
    background-color: #efefef;
    img {
        width: 100%;
        display: block;
    }
}

.postCaption {
    padding: 16px 16px;
    strong {
        font-weight: bold;
        font-family: 'PT Sans', sans-serif;
    }
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}