.nav {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  height: 77px;
}

.navMenus {
  display: flex;
  flex-direction: row;
  height: 77px;
  width: 70%;
  margin: 0 auto;
  padding: 26px 40px;
}

.navBrandLogo {
  display: block;
  background-position: -176px 0px;
  background-size: 405px 379px;
  background-repeat: no-repeat;
  background-image: url('./../../sprite/sprite.png');
  height: 35px;
  width: 176px;
  text-indent: -1000%
}

.avatar {
  vertical-align: middle;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.navbarIcons {
  margin-left: auto;
}