
.commentBlock{
    margin-bottom: 9px;
    .avatar {
        vertical-align: middle;
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    .textContainer{
        display: inline;
        .nickname {
            margin-left: 14px;
            margin-right: 4px;
            color: #262626;
            font-weight: 600;
            cursor: pointer;
        }
        .nickname:hover {
            text-decoration: underline;
        }
        .message{
            margin-bottom: 9px;
        }
    }   
}

    
