.profileInfoContainer {
    display: grid;
    width: 935px;
    grid-template-columns: 3fr 6fr;
}

.profileContainer {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}


.nickname {
    display: inline-block;
    font-size: 28px;
    font-weight: 300;
    
}

.profileInfoCounters {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;

    .profileInfoCounter {
        display: inline;
    }
}

.avatarContainer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 85px;
    margin-left: auto;

    .avatar {
        vertical-align: middle;
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}

