.authorContainer {
    padding: 16px;
    border-bottom: 1px solid #efefef;

    .avatar {
        vertical-align: middle;
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    
    .nickname {
        margin-left: 14px;
    }
}