@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.interactionPanel {
    display: flex;
    position:absolute;
    bottom: 79px;
    width: 100%;
    border-top: 1px solid #efefef;
    padding: 16px 16px 0 16px;
    margin-top: 8px;
    background: #fff;

    .iconElement{
        font-size: 24px;
        cursor: pointer;
    }
    
    .iconElement:last-child{
        margin-left: auto;
        margin-right: 45px;
    }    
}

