.commentContainer {
    display: flex;
    position:absolute;
    bottom:0;
    width: 100%;
    border-top: 1px solid #efefef;
    padding: 16px 12px;
    margin-top: 8px;
    background: #fff;

    .commentTextArea {
        box-sizing: border-box;
        border-style: none; 
        border-color: Transparent; 
        overflow: hidden; 
        resize: none;
        outline: none;
        height: 18px;
        width: 207px;
    }
    
    .btnPost {
        border: none;
        background-color: transparent;
        opacity: .3;
        color: #0095f6;
        font-weight: 600;
        box-sizing: border-box;
        outline: none;
        padding: 0;
    }
}


