.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    overflow: auto
}

.modal .modalContent {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    width: 80%;
    max-height: 80%;
    overflow: hidden;
    z-index: 99999;
}

.modal .modalContent .closeModalWindow {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modalCommentsContainer {
    position: relative;
}

.modalContentContainer {
    display: grid;
    background-color: #fff;
    grid-template-columns: 600px 335px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.modalContent {
    max-width: 935px;
}

.commentArea {
    padding: 16px 16px 121px 16px;
    max-height: 100px;
    overflow-y:auto;
}

